<%- include('partials/header') %> 

<% if (books.length > 0) { %> 
    <h1 class="h1-myBooks">Welcome to <%= user.first_name %>'s BookHub</h1>
    <div class="books">
        <form action ="/filterBooks" method="GET" class="filter-form">
            <input type="hidden" name="userId" value="<%= user.id %>">
            <label for="sortByTitle">Title:</label>
            <select name="sortByTitle" id="sortByTitle" class="titleSort">
                <option value="">Select</option>
                <option value="ASC">A-Z</option>
                <option value="DESC">Z-A</option>
            </select>
    
            <label for="sortByRating">Rating:</label>
             <select name="sortByRating" id="sortByRating" class="ratingSort">
                <option value="">Select</option>
                <option value="ASC">Low to High</option>
                <option value="DESC">High to Low</option>
            </select>
    
            <label for="sortByGenre">Genre:</label>
            <select name="sortByGenre" id="sortByGenre" class="genreSort">
                <option value="">Select</option>
                    <% booksGenres.forEach(genre =>{ %>
                        <option value="<%= genre %>"> <%=genre %></option>
                    <% }) %>
            </select>
    
            <button type="submit">Sort</button>
            <button type="button" onclick="resetFilters()">Reset</button>
        </form>

        <div class="books-container">
            <% books.forEach(book => { %>
                <div class="book-card">
                    <img src="<%= book.cover_url %>" alt="Book Cover">
                    <h2 class="book-title"><%= book.title %></h2>
                    <p class="book-author"><%= book.author %></p>
                    <div class="rating">
                        <% for (let i = 1; i <= 5; i++) { %>
                            <span><%= i <= book.rating ? '★' : '☆' %></span>
                        <% } %>
                    </div>
                    <a href="/follower/bookDetails/<%= book.id %>/<%= user.id %>">
                        <button>View Details</button>
                    </a>
                </div>
            <% }) %>
        </div>
<% } else { %>
    <div class="no-books-container">
        <p>It seems like <%= user.first_name %> <%= user.last_name %> hasn't added any books yet.</p>
    </div>
<% } %>
</div>

<script>
    // Remove the name attribute from the select elements that have no value, so they won't be sent to the server
    document.querySelector(".filter-form").addEventListener("submit", function(event) { // If the form is submitted
        const selects = this.querySelectorAll("select"); // Get all select elements
        let hasSelection = false; // Initialize a variable to check if the user selected at least one option

        selects.forEach(select => {
            if (select.value) {  // If the select element has a value (user selected an option)
                hasSelection = true; 
            }else{
                select.removeAttribute("name"); // Remove the name attribute, so the URL won't have the query string for that select element
            }
        });

        if (!hasSelection) {
            event.preventDefault(); // Prevent the form from being submitted
        }
    });

    // Reset the filters
    function resetFilters() {
        window.location.href = "/follower/books/<%= user.id %>";  // Redirect to the same page
    }

</script>

<%- include('partials/footer') %>
