<%- include('partials/header') %>

<h1 class="bookDetails-h1">Book Details</h1>
<div class="book-details">
    <div class="book-cover-info">
        <div class="book-cover">
            <img src="<%= book.cover_url %>" alt="Book Cover" />
        </div>

        <div class="book-info">
            <p class="info-title"><%= book.title %></p>
            <p class="info-author">By <%= book.author %></p> 
            <p class="info-genre"><strong>Genre:</strong> <%= book.genre %></p>
            
            <p class="info-rating"><strong>Rating:</strong>
                <% for (let i = 1; i <= 5; i++) { %>
                    <span><%= i <= book.rating ? '★' : '☆' %></span>
                <% } %>
            </p>
        </div>
    </div>

    <div class="book-review">
        <p><strong>Review:</strong> <%= book.review %></p>
    </div>

    <h3>Users who have read this book:</h3>
    <div id="usersWhoRead" class="users-list">
        <% if (usersWhoRead && usersWhoRead.length > 0) {%>
            <% usersWhoRead.forEach(user =>{ %>
                <div class="user-card">
                    <div class="user">
                        <a href="/follower/books/<%= user.id %>">
                            <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                        </a>
                    </div>
                    <form action="/user/follow" method="POST">
                        <input type="hidden" name="follower_id" value="<%= currentUserId %>">
                        <input type="hidden" name="followed_id"value="<%= user.id %>">
                        <input type="hidden" name="book_id" value="<%= book.id %>">
                        <button type="submit">
                            <% if (user.followed){ %>
                                    Unfollow
                            <% } else { %>
                                Follow
                            <% } %>
                        </button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <p> No users have read this book yet.</p>
        <% } %>
    </div>

    <div class="book-details-buttons">
        <a href="/user/books">
            <button>My Books</button>
        </a>

        <a href="/user/editBook/<%= book.id %>">
            <button>Edit</button>
        </a>

        <form action="/user/deleteBook/<%= book.id %>" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>
